html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    color: #304455;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5rem;
}

section {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}

div {
    text-align: center;
}

h1 {
    font-weight: 300;
    margin: 0;
    font-size: 3.2em;
    color: #273849;
}

a {
    text-decoration: none;
}

img {
    width: 256px;
}

p {
    word-spacing: 0.05em;
}

a.button {
    padding: 0.75em 2em;
    border-radius: 2em;
    display: inline-block;
    color: #fff;
    background-color: #4fc08d;
    transition: all 0.15s ease;
    box-sizing: border-box;
    border: 1px solid #4fc08d;

    margin: 1em 0;
    font-size: 1.05em;
    font-weight: 600;
    letter-spacing: 0.1em;
    min-width: 8em;
    text-align: center;

    text-transform: uppercase;
}

@media screen and (min-width: 900px) {
    section:nth-child(1) {
        justify-content: flex-end;
    }

    section:nth-child(2) {
        justify-content: flex-start;
    }

    div {
        text-align: left;
    }

    img {
        margin-right: 60px;
    }
}
